@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


/* clerk user button adjust */
.cl-avatarBox{
    width: 2rem;
    height: 2rem;
}
.arrows{
    height: 40px;
    width: 40px;
    margin: 1px;
}
input{
    background-color: white;
    accent-color: red;
    border: 1px solid;
    color: black;
}

